
<div class="banner" style="background-image: url(https://s3-us-west-2.amazonaws.com/issuewireassets/primg/14456/highest-quality-crossfit-equipment.jpg);">
  <div class="container">
    <h1>GYMExpress</h1>
    <p>Rent homegyms near you!</p>
    <p><%= link_to "Add your homegym", new_gym_path %></p>
  </div>
</div>

<div class="subtitle">
<h2>Our locations:</h2>
</div>




<% @gyms.each do |gym|%>
<div  class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= link_to gym.name, gym %></h2>
    <p><%= gym.description %></p>
  </div>
</div>
<%end%>
